* {
	margin: 0;
	padding: 0;
}

*,
:after,
:before {
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

@media all and (max-width: 768px) {
	html {
		font-size: 12px;
	}
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin-bottom: 0;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
	margin-top: 60px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	min-width: 1360px;
}


/* top navbar style start */

.container .topbar-wrap {
	height: 50px;
	line-height: 50px;
	/*background: #373d41;*/
	/*background: linear-gradient(left,#137DFA,#479BFF);*/
	background: -webkit-gradient(linear, left top, right top, from(#137DFA), to(#479BFF));
	padding: 0px;
}

.container .topbar-wrap .topbar-btn {
	color: #fff;
}

.container .topbar-wrap .topbar-logo {
	float: left;
	width: 45px;
	line-height: 26px;
}

.container .topbar-wrap .topbar-logos {
	float: left;
	/*width: 600px;*/
	line-height: 48px;
	font-size: 18px;
}

.container .topbar-wrap .topbar-logo img,
.container .topbar-wrap .topbar-logos img {
	height: 30px;
	margin-top: 10px;
	margin-left: 2px;
}

.container .topbar-wrap .topbar-title {
	float: left;
	text-align: left;
	padding-left: 10px;
	/*border-left: 1px solid #000;*/
}

.topbar-title .el-menu--horizontal {
	background-color: transparent;
}

.el-menu--horizontal>.el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal>.el-menu-item.is-active {
	color: #fff;
	background-color: transparent;
	border-bottom: 2px solid #409EFF !important;
}

.topbar-title .el-menu--horizontal>.el-menu-item {
	height: 50px;
	line-height: 50px;
	color: #fff;
}

.el-menu-item .iconfont {
	margin-right: 5px;
	display: inline-block;
	width: 24px;
	text-align: center;
	font-size: 18px;
	vertical-align: middle;
}

.container .topbar-wrap .topbar-account {
	float: right;
	padding-right: 12px;
}

.container .topbar-wrap .topbar-timer {
	display: inline-block;
}

.container .topbar-wrap .topbar-timer span {
	display: inline-block;
	vertical-align: middle;
}

.container .topbar-wrap .topbar-timer .login-name {
	margin: 0 6px;
	font-style: normal;
}

.container .topbar-wrap .userinfo-inner {
	cursor: pointer;
	color: #fff;
	padding-left: 10px;
}

.container .topbar-wrap .userinfo-inner img {
	margin-left: 6px;
	width: 42px;
	height: 42px;
	border: 1px solid #504d4d;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	vertical-align: middle;
}


/* top navbar style end */


/* left sidebar style start */

.container aside {
	min-width: 50px;
	/*background: #333744;*/
}

.container aside::-webkit-scrollbar {
	display: none;
}

.container aside .menu-toggle {
	/*background: #4A5064;*/
	text-align: right;
	color: #4A4A4A;
	height: 26px;
	line-height: 30px;
	padding-right: 8px;
}

.container aside .menu-toggle .iconfont:hover {
	cursor: pointer;
}

aside .el-menu-item,
aside .el-submenu__title {
	color: #4A4A4A;
	text-align: left;
}

aside .el-menu-item:hover,
aside .el-submenu .el-menu-item:hover,
aside .el-submenu__title:hover {
	background-color: #7ed2df;
}

aside .el-submenu .el-menu-item {
	/*background-color: #333744;*/
}

aside .el-submenu .el-menu-item:hover {
	background-color: #4A5064;
}

aside .el-submenu .el-menu-item.is-active,
aside .el-menu-item.is-active,
aside .el-submenu .el-menu-item.is-active:hover,
aside .el-menu-item.is-active:hover {
	/*background-color: #00C1DE;*/
	color: #137DFA;
}

.container aside.showSidebar {
	overflow-x: hidden;
	overflow-y: auto;
}

.container aside .el-menu {
	height: 100%;
	/*写给不支持calc()的浏览器*/
	height: calc(100% - 80px);
	border-radius: 0px;
	/*background-color: #333744;*/
	border-right: 0px;
}

.container aside .el-submenu .el-menu-item {
	min-width: 60px;
}

.container aside .el-menu {
	width: 189px;
}

.container aside .el-menu--collapse {
	width: 60px;
}

.container aside .el-menu .el-menu-item,
.container aside .el-submenu .el-submenu__title {
	height: 40px;
	line-height: 40px;
}

.container aside .el-menu-item:hover,
.container aside .el-submenu .el-menu-item:hover,
.container aside .el-submenu__title:hover {
	background-color: #7ed2df;
}


/* left sidebar style end */

.container .main {
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 50px;
	bottom: 0px;
	overflow: hidden;
}

.container .warp-main {
	padding-top: 10px;
	padding-bottom: 10px;
}

.container .content-container {
	background: #f7f7f7;
	-ms-flex: 1;
	flex: 1;
	overflow-y: auto;
	padding: 10px;
}

.container .content-container .content-wrapper {
	background-color: #fff;
	box-sizing: border-box;
}

.grid-content {
	border-radius: 2px;
	background-color: #fff;
}

.grid-content .toolbar {
	padding: 1px 10px 0 10px;
}

.grid-content .el-pagination {
	padding: 15px;
	text-align: right;
}

.table-wrapper {
	border-top: 1px solid #ebeef5;
}


/* bottom footer style start */

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 20px 0;
	width: 100%;
	background-color: #2d2e2e;
}

.footer .footer-msg {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	font-size: 1.08rem;
	color: #666;
}

.footer .footer-msg a {
	color: #428bca;
	text-decoration: none;
}

.footer .footer-msg a:hover,
.footer .footer-msg a:focus,
.footer .footer-msg a:active {
	color: #2a6496;
	text-decoration: underline;
	outline: 0;
}


/* bottom footer style end */


/* scrollbar style start */

::-webkit-scrollbar {
	background: transparent;
	width: 10px;
	height: 10px
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #e1e1e1;
	width: 6px;
	height: 6px;
	border: 2px solid transparent;
	background-clip: content-box
}

::-webkit-scrollbar-track {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fafafa
}


/* scrollbar style end */


/* sidebar style start */

.slide-fade-enter-active {
	transition: all .3s ease;
}

.slide-fade-leave-active {
	transition: all .3s cubic-bezier(1, .5, .8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
	transform: translateX(600px);
}


/* sidebar style end */

.container .topbar-wrap .el-submenu__title {
	color: white;
	margin-top: -5px;
}

.container .topbar-wrap .el-submenu__title i {
	color: white;
}

.container .topbar-wrap .el-submenu__title:hover {
	background-color: #479BFF;
}

.el-table__header tr,
.el-table__header th {
	padding: 0px 0;
	height: 40px;
	background-color: #f5f7fa;
	/*  border: #dadada;*/
}

.el-table__body tr,
.el-table__body td {
	padding: 4px 0;
}


/* input height */

.el-input__inner {
	height: 30px !important
}

.el-form-item {
	margin-bottom: 12px
}

.el-form-item__error {
	padding-top: 0px
}

.elementWidth {
	width: auto;
}

.el-table .cell {
	padding-left: 5px;
	padding-right: 5px;
}

.el-input__icon {
	line-height: 40px !important;
}

.el-input.is-disabled .el-input__inner {
	background-color: #F5F7FA;
	border-color: #E4E7ED;
	color: #606266;
	cursor: not-allowed;
}

.widthWithSix .el-input-group__prepend {
	padding: 0 11px;
}

.widthWithSix2 .el-input-group__prepend {
	padding: 0 6px;
}

.widthWithFive .el-input-group__prepend {
	padding: 0 13px;
}

.widthWithFourWithXing .el-input-group__prepend {
	padding: 0 15px;
}

.widthWithFourWithXG .el-input-group__prepend {
	padding: 0 18px;
}

.widthWithThree .el-input-group__prepend {
	padding: 0 27px;
}

.widthWithThreeWithXing .el-input-group__prepend {
	padding: 0 22px;
}

.widthWithTwo .el-input-group__prepend {
	padding: 0 34px;
}

.widthWithTwoWithXing .el-input-group__prepend {
	padding: 0 29px;
}

.widthWithFourEWithXing .el-input-group__prepend {
	padding: 0 24px;
}

.widthWithThreeE .el-input-group__prepend {
	padding: 0 36px;
}

.phoneSelect .el-input__icon {
	line-height: 30px !important;
}

.btn-custom-cancel {
	background-color: red;
	color: white;
	float: left;
	margin-left: 10px;
}

.btn-custom-confirm {
	float: left;
	margin-left: 10px;
}

.message-logout {
	width: 600px;
}

.el-select__tags {
	flex-wrap: unset;
	overflow: auto;
}

.expand .el-table__expand-column .cell {
	visibility: hidden;
}

.cooptable .el-table__expanded-cell {
	padding: 0;
}

.el-table__body tr.current-row>td {
	background-color: #FDF5E6 !important;
	color: black;
}

.ef_input_icon .el-input__icon {
	line-height: 30px !important;
}
