<template>
  <div class="context">
    <p style="display: inline; position: relative; top: 240px; left: -170px;font-weight: bold;font-size:30px">各大区联系方式</p>
<!--
    <div style="display: inline; position: relative; top: 243px; left: 760px;"><hr style="width: 30px;border:none; border-top:3px solid blue;"/></div>
-->
        <div>
            <i style="display: inline; position: relative; top: 280px; left: -240px;font-size:22px; color: blue" class="el-icon-s-custom"></i>
            <p style="display: inline; position: relative; top: 280px; left: -250px;font-size:18px">华北大区</p>
            <p style="display: inline; position: relative; top: 280px; left: -280px;">陈先生</p>

            <i style="display: inline; position: relative; top: 280px; left: -155px;font-size:22px; color: blue" class="el-icon-s-custom"></i>
            <p style="display: inline; position: relative; top: 280px; left: -165px;font-size:18px">华东大区</p>
            <p style="display: inline; position: relative; top: 280px; left: -195px;">汤先生</p>

            <i style="display: inline; position: relative; top: 280px; left: -80px;font-size:22px; color: blue" class="el-icon-s-custom"></i>
            <p style="display: inline; position: relative; top: 280px; left: -90px;font-size:18px">华南大区</p>
            <p style="display: inline; position: relative; top: 280px; left: -120px;">刘女士</p>
        </div>
        <div>
            <i style="display: inline; position: relative; top: 330px; left: -85px;font-size:22px; color: blue" class="el-icon-phone-outline"></i>
            <p style="display: inline; position: relative; top: 330px; left: -95px;font-size:18px">联系电话</p>
            <p style="display: inline; position: relative; top: 330px; left: -125px; color: #ee9526;font-size:25px">18500026700</p>

            <i style="display: inline; position: relative; top: 330px; left: -105px;font-size:22px; color: blue" class="el-icon-phone-outline"></i>
            <p style="display: inline; position: relative; top: 330px; left: -110px;font-size:18px">联系电话</p>
            <p style="display: inline; position: relative; top: 330px; left: -145px; color: #ee9526;font-size:25px">13816024224</p>

            <i style="display: inline; position: relative; top: 330px; left: -130px;font-size:22px; color: blue" class="el-icon-phone-outline"></i>
            <p style="display: inline; position: relative; top: 330px; left: -140px;font-size:18px">联系电话</p>
            <p style="display: inline; position: relative; top: 330px; left: -175px; color: #ee9526;font-size:25px">13533862076</p>
        </div>

        <div>
            <i style="display: inline; position: relative; top: 380px; left: -100px;font-size:22px; color: blue" class="el-icon-message"></i>
            <p style="display: inline; position: relative; top: 380px; left: -110px;font-size:18px">电子邮箱</p>
            <p style="display: inline; position: relative; top: 380px; left: -140px;">chenqiang@efreight.cn</p>

            <i style="display: inline; position: relative; top: 380px; left: -130px;font-size:22px; color: blue" class="el-icon-message"></i>
            <p style="display: inline; position: relative; top: 380px; left: -140px;font-size:18px">电子邮箱</p>
            <p style="display: inline; position: relative; top: 380px; left: -170px;">tangjl@efreight.cn</p>

            <i style="display: inline; position: relative; top: 380px; left: -135px;font-size:22px; color: blue" class="el-icon-message"></i>
            <p style="display: inline; position: relative; top: 380px; left: -145px;font-size:18px">电子邮箱</p>
            <p style="display: inline; position: relative; top: 380px; left: -175px;">liumq@efreight.cn</p>
        </div>
  </div>
</template>
<style scoped="scoped">
  html,body {
    height: 100%;
  }
  #app {
    height: 100%;
    margin-top: 0;
  }
  .context {
    position: absolute;
    /*top: 10%;*/
    width: 100%;
    text-align: center;
    height: 100%;
    background-image: url('../assets/images/customer_service012.jpg');
    background-size: 100% 100%;
  }
  .context img {
    max-width: 100%;
    max-height: 100%;
  }
  .context p {
    margin: 20px;
    font-size: 16px;
    color: #0d3349;
  }
</style>
