<template>
  <div class="context">
    <img src="../assets/images/undev.png" style="display: inline; position: relative; top: -90px; left: 230px;">
    <p style="display: inline; position: relative; top: -30px; left: -70px;color: #479BFF">此功能暂时未开通，敬请期待！</p>
    <p style="display: inline; position: relative; top: 20px; left: -335px;font-weight: bold;font-size:30px">各大区联系方式</p>
    <div>
      <i style="display: inline; position: relative; top: 50px; left: -85px;font-size:22px; color: blue" class="el-icon-s-custom"></i>
      <p style="display: inline; position: relative; top: 50px; left: -95px;font-size:18px">华北大区</p>
      <p style="display: inline; position: relative; top: 50px; left: -125px;">陈先生</p>

      <i style="display: inline; position: relative; top: 50px; left: 0px;font-size:22px; color: blue" class="el-icon-s-custom"></i>
      <p style="display: inline; position: relative; top: 50px; left: -10px;font-size:18px">华东大区</p>
      <p style="display: inline; position: relative; top: 50px; left: -40px;">汤先生</p>

      <i style="display: inline; position: relative; top: 50px; left: 75px;font-size:22px; color: blue" class="el-icon-s-custom"></i>
      <p style="display: inline; position: relative; top: 50px; left: 65px;font-size:18px">华南大区</p>
      <p style="display: inline; position: relative; top: 50px; left: 35px;">刘女士</p>
    </div>
    <div>
      <i style="display: inline; position: relative; top: 100px; left: 72px;font-size:22px; color: blue" class="el-icon-phone-outline"></i>
      <p style="display: inline; position: relative; top: 100px; left: 62px;font-size:18px">联系电话</p>
      <p style="display: inline; position: relative; top: 100px; left: 32px; color: #ee9526;font-size:25px">18500026700</p>

      <i style="display: inline; position: relative; top: 100px; left: 52px;font-size:22px; color: blue" class="el-icon-phone-outline"></i>
      <p style="display: inline; position: relative; top: 100px; left: 42px;font-size:18px">联系电话</p>
      <p style="display: inline; position: relative; top: 100px; left: 12px; color: #ee9526;font-size:25px">13816024224</p>

      <i style="display: inline; position: relative; top: 100px; left: 25px;font-size:22px; color: blue" class="el-icon-phone-outline"></i>
      <p style="display: inline; position: relative; top: 100px; left: 15px;font-size:18px">联系电话</p>
      <p style="display: inline; position: relative; top: 100px; left: -15px; color: #ee9526;font-size:25px">13533862076</p>
    </div>

    <div>
      <i style="display: inline; position: relative; top: 150px; left: 55px;font-size:22px; color: blue" class="el-icon-message"></i>
      <p style="display: inline; position: relative; top: 150px; left: 45px;font-size:18px">电子邮箱</p>
      <p style="display: inline; position: relative; top: 150px; left: 15px;">chenqiang@efreight.cn</p>

      <i style="display: inline; position: relative; top: 150px; left: 25px;font-size:22px; color: blue" class="el-icon-message"></i>
      <p style="display: inline; position: relative; top: 150px; left: 15px;font-size:18px">电子邮箱</p>
      <p style="display: inline; position: relative; top: 150px; left: -15px;">tangjl@efreight.cn</p>

      <i style="display: inline; position: relative; top: 150px; left: 20px;font-size:22px; color: blue" class="el-icon-message"></i>
      <p style="display: inline; position: relative; top: 150px; left: 10px;font-size:18px">电子邮箱</p>
      <p style="display: inline; position: relative; top: 150px; left: -20px;">liumq@efreight.cn</p>
    </div>
 <!--   <div>
      <div style="display: inline; position: relative; top: -100px"><img src="../assets/images/undev1.png"></div>
      <div style="display: inline; position: relative; top: -104px">各大区服务电话</div>
    </div>
    <p style="font-size: small;position: relative; top: -100px">华北大区 陈先生 18500026700</p>
    <p style="font-size: small;position: relative; top: -100px">华东大区 汤先生 13816024224</p>
    <p style="font-size: small;position: relative; top: -100px">华南大区 刘女士 18928744417</p>-->
  </div>
</template>
<style scoped="scoped">
  html,body {
    height: 100%;
  }
  #app {
    height: 100%;
    margin-top: 0;
  }
  .context {
    /*position: absolute;*/
    top: 10%;
    width: 100%;
    text-align: center;
    height: 899px;
  }
  .context img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 100px;
  }
  .context p {
    margin: 20px;
    font-size: 16px;
    color: #0d3349;
  }
</style>
